.mainpharmacyItems{
    height: 100px; 
    
}
.searchbarfordrugs{
    position:relative;
    margin-left: 10%;
    top: 70px;

}

.searchtextfieldfordrugs{
   width: 75%;
   
   
}

.signinpharmacyitemslandingpage{
    position: relative;
     margin-left: 78%;
    top: 0.6em;
   
}

.buttonsigninpharmacyitemslandingpage{
    width: 100px;
    position: relative;
    background-color: rgb(0, 132, 255);
    height: 50px;
   
}

.searchdrugsfooter{
    position: relative;
    top: 20em;
}



 

@media screen and (max-width: 768px)
   {

    .searchbarfordrugs{
        position: relative;
        margin-left: 5%;
        top: 5vh; 
           
    }

    .searchtextfieldfordrugs{
       
       width: 27em;
    }
    
    .signinpharmacyitemslandingpage{
        position: relative;
        top: -3vh;
        width: 100px;
        margin-left: 72%;
        
    }

}

 

@media screen and (max-width: 480px)
    and (orientation: portrait) {
        .searchbarfordrugs{
            position: relative;
            margin-left: 2%;
            top: 5vh;        
        }
    
        .searchtextfieldfordrugs{
           
           width: 15em;
        }
    
        .signinpharmacyitemslandingpage{
            position: relative;
            top: -3vh;
           
            margin-left: 72%;
        }
        .buttonsigninpharmacyitemslandingpage{
             position: relative;
             width: 80px;
           
        } 
       
}
 
