
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  .form-group {
    margin-bottom: 15px;
  }

  .container{
    position: relative;
    top: 5em;

  }
  .mobilenavbarregistershoppingmall{
     display: none;
  }

  
 
  @media (max-width: 480px) {
 
    
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
       max-height: 96vh;
       position: relative;
       overflow-y: auto;
       top: 68vh;
    }
  
    .form-group {
      margin-bottom: 0.5em;
      position: relative;
      overflow-y: auto;
      top: 20vh;

    }
    label, input, select, button {
      font-size: 14px;
      margin-bottom: 5px;
      margin: -0.5px;
     }

   .mobilenavbarregistershoppingmall{
      display: flex;
      position: relative;
      top: -35em;
      font-size: large;
   } 
   .registershopsubmit{
      margin-left: -3.5em;
   }
    
  }
  