.registerdrugcontainer{
    top: 0.2em;
    position: relative;
    width: 500px;
    margin: 0;
    display:inline-block;
    left: 25em;
    
}

.lblquantity{
    text-align: right;
}


* {
    margin: 0;
    padding: 0;
}
 

.gfg-div {
 
   
    display: flex;
    justify-content: center;
    align-items: center;
 
    
    margin: 20px auto;
    padding: 30px;
    font-size: 30px;
    width: 300px;
    height: 300px;
    background-color: darkseagreen;
    color: black;
}
 


@media screen and (max-width: 768px)
    {
        .registerdrugcontainer{
            position: relative;
          
        }
    
        .registerdrugform{
            position: relative;
            margin-left: -12em;
            width: 20em;
        }
}
 

@media screen and (max-width: 480px)
   {
    .registerdrugcontainer{
        position: relative;
        width: fit-content;
        height:fit-content;
    }

    .registerdrugform{
        position: relative;
        margin-left: -22.5em;
        width: 20em;
        margin-top: 2em;
        
    }
}
 
