.grid{
    top: 100px;
    position: relative;
    left: 240px;
}
.global-class-name {
    vertical-align: middle;
    size: 2em;
  }


.edit-icon{
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 2em;
}
.delete-icon{
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 1em;
}

  * {
    margin: 0;
    padding: 0;
}
 

.gfg-div {
 
    display: flex;
    justify-content: center;
    align-items: center;
 
  
    margin: 20px auto;
    padding: 30px;
    font-size: 30px;
    width: 300px;
    height: 300px;
    background-color: darkseagreen;
    color: black;
}
 


@media screen and (max-width: 768px)
     {
   
    .grid{
        top: 100px;
        position: relative;
        margin-left: -10em;
        width: 400px;
        height: 400px;
    }
}
 

@media screen and (max-width: 480px)
     {
    

    .grid{
        top: 100px;
        position: relative;
        margin-left: -13em;
        width: 400px;
        height: 400px;
    }
}
 
