
.main {
    font-family: 'Arial', sans-serif;
    
  }
  
  .landingpage {
    position: relative;
  }
  
  .food,
  .phama {
    width: 600px; /* Adjust the width as needed for default view */
    height: 500px; /* Adjust the height as needed for default view */
    position: relative;
    border: 2px solid #333; /* Example border style */
    margin: 10px; /* Example margin */
    transition: transform 0.3s ease-in-out; /* Example transition effect */
  }
  
  .food:hover,
  .phama:hover {
    transform: scale(1.1); /* Example hover effect */
  }
  
  .mainpagefooter {
    background-color: #f0f0f0; /* Example background color */
    padding: 10px; /* Example padding */
    text-align: center; /* Example text alignment */
  }
  

  @media screen and (max-device-width: 640px) {

    .navbarforlandingpage{
        position: relative;
        top: 30em;
    }
    .main {
        font-family: 'Arial', sans-serif;
        /* Add other default styles here */
      }
      
      .landingpage {
        position: relative;
      }
      
      .food,
      .phama {
        width: 300px; /* Adjust the width as needed for default view */
        height: 150px; /* Adjust the height as needed for default view */
        position: relative;
        border: 2px solid #333; /* Example border style */
        margin: 5px; /* Example margin */
        transition: transform 0.3s ease-in-out; /* Example transition effect */
        top: 32em;
      }
      
      .food:hover,
      .phama:hover {
        transform: scale(1.1); /* Example hover effect */
      }
      
      .mainpagefooter {
        background-color: #f0f0f0; /* Example background color */
        padding: 10px; /* Example padding */
        text-align: center; /* Example text alignment */
      }
   
}
 